<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:ng.hublo.com</string>
		<string>applinks:app.hublo.com</string>
		<string>applinks:www.medgo.fr</string>
		<string>applinks:medgo.fr</string>
		<string>applinks:www.hublo.com</string>
		<string>applinks:hublo.com</string>
		<string>applinks:m.hublo.com</string>
	</array>
</dict>
</plist>
